@use './common.scss' as *;
@use './themes.scss' as t;
@use './mixin.scss' as m;
#app {
  width: 100%;
  height: 100%;
}
.el-container {
  height: 100%;
}
.el-aside {
  height: inherit;
  transition: all 0.3s ease-in-out;
}
.el-logo {
  display: flex;
  align-items: center;
  height: t.$headerHeight;
  padding: 10px 4px 10px 16px;
  img {
    width: 32px;
    height: 32px;
  }
  .title {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin-left: 8px;
    @include m.ellipsis;
    &.is-hide {
      display: none;
    }
  }
}
.el-menu {
  height: inherit;
  background-color: t.$sidebarTheme;
  border-right: none;
  &.no-transition {
    transition: none;
  }
  .el-menu-item {
    color: t.$sidebarColor;
    padding-right: 0;
    @include m.ellipsis;
    &:hover {
      background-color: inherit;
    }
    &.is-active {
      color: #ffffff;
      background-color: t.$systemTheme;
    }
  }
  .el-sub-menu {
    .el-menu-item {
      min-width: 0;
    }
    &.is-active {
      & > .el-sub-menu__title {
        color: #ffffff;
      }
    }
  }
  .el-menu-item-group {
    background-color: t.$sidebarThemeGroup;
  }
  .el-sub-menu__title {
    color: t.$sidebarColor;
    &:hover {
      background-color: inherit;
    }
    & > span {
      display: inline-block;
      max-width: calc(100% - 45px);
      @include m.ellipsis;
    }
  }
}
.sidebar--white {
  $menu-color: t.$navbarColor;
  .el-menu-item {
    color: $menu-color;
    &:hover {
      color: t.$systemTheme;
    }
    &.is-active {
      background-color: t.$systemThemeActive;
      color: t.$systemTheme;
    }
  }
  &:not(.layout-type-3) {
    .el-menu:not(.el-menu--collapse) {
      .el-menu-item {
        &.is-active {
          border-right: 3px solid t.$systemTheme;
        }
      }
    }
  }
  .el-sub-menu__title {
    color: $menu-color;
    &:hover {
      color: t.$systemTheme;
      i {
        color: inherit;
      }
    }
  }
  .el-menu-item-group {
    background-color: #ffffff;
  }
  .el-sub-menu {
    &.is-active {
      & > .el-sub-menu__title {
        color: t.$systemTheme;
        > i {
          color: inherit;
        }
      }
    }
  }
}
.el-menu--popup {
  .el-menu-item,
  .el-sub-menu .el-sub-menu__title {
    height: 46px;
    line-height: 46px;
  }
}

.el-menu--collapse {
  .el-menu-item {
    &.is-active {
      background-color: inherit;
      box-shadow: 3px 0 0 t.$systemTheme inset;
      border-right: 0;
      color: t.$systemTheme;
      i {
        color: inherit !important;
      }
    }
  }
  .el-sub-menu {
    &.is-active {
      .el-sub-menu__title {
        color: t.$systemTheme;
        box-shadow: 3px 0 0 t.$systemTheme inset;
        i {
          color: inherit;
        }
      }
    }
  }
}

// ----------header----------
.el-header {
  height: t.$headerHeight;
  background-color: t.$navbarTheme;
  color: #ffffff;
  padding: 0;
  .header-content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.has-logo {
      width: calc(100% - #{t.$logoWidth});
    }
  }
  .header-left {
    height: 100%;
    display: flex;
    align-items: center;
    > svg {
      width: 32px;
    }
  }
  .header-right {
    display: flex;
    align-items: center;
    height: 100%;
    > svg {
      width: 32px;
    }
  }
  .navbar-icon {
    width: 1em;
    height: 1em;
    cursor: pointer;
  }
  .el-breadcrumb {
    margin-left: 10px;
    color: #ffffff;
    span a,
    span {
      color: inherit !important;
    }
    &:not(.is-show) {
      display: none;
    }
  }
}
.navbar--white {
  .el-header {
    color: t.$navbarColor;
  }
  .el-breadcrumb {
    color: t.$navbarColor;
  }
  .header-user {
    color: t.$navbarColor;
  }
}

// ----------main----------
.el-main {
  background-color: t.$contentBgColor;
  padding: t.$paddingWidth;
}

.sidebar--white {
  &.layout-type-1 {
    .el-logo {
      border-bottom: t.$border;
      span {
        color: t.$systemTheme;
      }
    }
  }
  .el-aside > .el-menu {
    border-right: t.$border;
  }
}
.navbar--white {
  .header {
    border-bottom: t.$border;
  }
}

.layout-type-2 {
  .el-logo {
    width: t.$logoWidth;
  }
  &.navbar--white {
    .el-logo {
      border-bottom: t.$border;
      .title {
        color: t.$systemTheme;
      }
    }
  }
  .el-logo {
    .title {
      display: inline-block;
    }
  }
}

.layout-type-3 {
  $_sidebarColor: #ffffffa6;
  .el-logo {
    width: t.$logoWidth;
    .title {
      color: #ffffff;
      &.is-hide {
        display: inline-block;
      }
    }
  }
  &.navbar--white {
    .el-logo {
      border-bottom: t.$border;
      .title {
        color: t.$systemTheme;
      }
    }
  }
  .navbar-icon._fold {
    display: none;
  }
  .el-breadcrumb {
    display: none;
  }
  &:not(.navbar--white) .el-menu {
    .el-menu-item {
      background-color: inherit;
      color: $_sidebarColor;
      i {
        color: $_sidebarColor;
      }
      &:hover:not(.is-disabled):focus,
      &:hover:not(.is-disabled):hover {
        color: #ffffff;
      }
    }
    .el-sub-menu__title {
      background-color: inherit;
      color: $_sidebarColor;
      i {
        color: $_sidebarColor;
      }
      &:hover {
        color: #ffffff;
      }
    }
  }
  .el-menu--horizontal {
    background-color: transparent;
    border-bottom: none;
    & > .el-menu {
      background-color: t.$navbarColor;
      .el-sub-menu {
        background-color: inherit;
        &.is-active {
          .el-sub-menu__title {
            color: t.$systemTheme !important;
          }
        }
      }
    }
    & > .el-menu-item,
    & > .el-sub-menu .el-sub-menu__title {
      height: t.$headerHeight;
      line-height: t.$headerHeight;
      color: t.$sidebarColor;
      &:hover {
        color: #ffffff;
        i {
          color: #ffffff;
        }
      }
    }
    & > .el-menu-item {
      border-bottom: none;
      &:hover {
        color: #ffffff;
        background-color: t.$sidebarThemeActive;
        i {
          color: #ffffff;
        }
      }
      &.is-active {
        background-color: t.$sidebarThemeActive;
        color: #ffffff;
        i {
          color: #ffffff;
        }
      }
    }
    & > .el-sub-menu {
      &.is-active {
        .el-sub-menu__title {
          color: #ffffff;
          background-color: t.$sidebarThemeActive;
          border-bottom: none;
        }
      }
      .el-sub-menu__title {
        &:hover {
          background-color: t.$sidebarThemeActive;
        }
      }
    }
    .el-menu {
      .el-menu-item.is-active,
      .el-sub-menu.is-active > .el-sub-menu__title {
        color: #ffffff;
      }
      .el-menu-item.is-active {
        background-color: t.$systemTheme;
      }
    }
  }
  &.navbar--white {
    .el-menu--horizontal {
      .el-menu-item {
        &:hover {
          color: t.$systemTheme;
          background-color: #ffffff;
          i {
            color: inherit;
          }
        }
        &.is-active {
          color: t.$systemTheme;
          border-bottom: 2px solid t.$systemTheme;
          background-color: #ffffff;
          i {
            color: inherit;
          }
        }
      }
      & > .el-menu-item {
        color: t.$navbarColor;
      }
      & > .el-sub-menu {
        &.is-active {
          .el-sub-menu__title {
            color: t.$systemTheme;
            background-color: #ffffff;
            border-bottom: 2px solid t.$systemTheme;
            i {
              color: inherit;
            }
          }
        }
        .el-sub-menu__title {
          color: t.$navbarColor;
          &:hover {
            color: t.$systemTheme;
            background-color: #ffffff;
            i {
              color: inherit;
            }
          }
        }
      }
      .el-menu {
        background-color: #ffffff;
        .el-menu-item {
          &.is-active {
            background-color: t.$systemThemeActive;
            border-bottom: none;
          }
        }
        .el-sub-menu {
          &.is-active {
            .el-sub-menu__title {
              color: t.$systemTheme;
              i {
                color: inherit;
              }
            }
          }
        }
        & > .el-sub-menu {
          .el-sub-menu__title {
            &:hover {
              color: t.$systemTheme;
              i {
                color: inherit;
              }
            }
          }
        }
      }
    }
  }
}

.layout-type-4 {
  .el-logo {
    padding-left: 23px;
    .title {
      display: none;
    }
  }
  ._fold {
    display: none;
  }
  .el-menu--collapse {
    width: 100%;
    .el-menu-item {
      &.is-active {
        span {
          color: t.$systemTheme;
        }
      }
    }
    & > .el-menu-item {
      height: 70px;
      line-height: 70px;
    }
    & > .el-sub-menu {
      &.is-active {
        & > .el-sub-menu__title {
          span {
            color: t.$systemTheme;
          }
        }
      }
      & > .el-sub-menu__title {
        height: 70px;
        line-height: 70px;
      }
    }

    & > .el-menu-item > div,
    .el-sub-menu__title {
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 !important;
      i {
        color: t.$sidebarColor;
      }
      > span {
        color: t.$sidebarColor;
        width: 100%;
        height: 30px;
        font-size: 12px;
        visibility: visible;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &.sidebar--white {
    .el-menu--collapse {
      & > .el-menu-item:not(.is-active) > div,
      .el-sub-menu:not(.is-active) .el-sub-menu__title {
        i {
          color: t.$navbarColor;
        }
        > span {
          color: t.$navbarColor;
        }
      }
    }
  }
}

// ----------tabs----------
.tabs-content {
  $_tabsHeight: 30px;
  $_svgWidth: 32px;
  display: flex;
  align-items: center;
  height: $_tabsHeight;
  &:not(.is-show) {
    display: none;
  }
  .tabs-svg {
    width: $_svgWidth;
    height: calc(#{$_tabsHeight} - 4px);
    padding: 6px 0;
    color: rgba(0, 0, 0, 0.45);
    cursor: pointer;
    &:hover {
      color: #000;
    }
  }
  .tabs-scroll {
    width: calc(100% - #{$_svgWidth});
    height: 100%;
    top: 2px;
    position: relative;
    overflow: hidden;
    .el-tabs__nav-wrap.is-scrollable {
      padding: 0 $_svgWidth + 1px;
    }
    .el-tabs__header {
      margin: 0;
      border-bottom: 0;
    }
    .el-tabs__content {
      display: none;
    }
    .el-tabs__nav {
      border: none;
    }
    .el-tabs__nav-next,
    .el-tabs__nav-prev {
      line-height: $_tabsHeight - 4px;
      font-size: 14px;
      width: $_svgWidth;
      text-align: center;
      &:not(.is-disabled):hover {
        color: #000;
      }
      &.is-disabled {
        opacity: 0.4;
        cursor: not-allowed;
      }
    }
    .el-tabs__item {
      height: $_tabsHeight - 4px;
      line-height: $_tabsHeight - 5px;
      font-size: 12px;
      margin: 0 2px;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
      padding: 0 10px !important;
      &:first-child {
        border-left: 1px solid #d9d9d9;
      }
      &:last-child {
        border-right: 1px solid #d9d9d9;
      }
      &.is-active {
        border-color: t.$systemTheme;
        background-color: t.$systemTheme;
        color: #ffffff;
      }
    }
  }
}
.tabs-menu {
  padding: 6px 0;
  .el-dropdown-menu__item {
    line-height: 30px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    &:not(.is-disabled):hover {
      background-color: #f2f2f2;
    }
  }
  .el-divider {
    margin: 6px 0;
  }
  i {
    font-size: 18px;
    &.left {
      transform: rotate(90deg);
    }
    &.right {
      transform: rotate(-90deg);
    }
  }
}
.night-mode {
  .header {
    border-bottom: 1px solid t.$borderColor;
  }
  .tabs-content {
    background-color: t.$navbarTheme;
    .el-tabs__item {
      color: t.$navbarColor;
      border-color: t.$borderColor;
    }
  }
}

// ----------drawer----------
.el-drawer {
  max-width: 400px;
  min-width: 300px;
}
.el-drawer__header {
  margin-bottom: 0;
  padding: t.$paddingWidth !important;
  border-bottom: t.$border;
  & > span {
    font-size: 16px;
    font-weight: 500;
  }
  .el-drawer__close-btn > i {
    font-size: 20px;
  }
}
.el-drawer__body {
  padding: t.$paddingWidth;
}

// ----------sidebar menu background color fix----------
.el-aside > .el-menu {
  overflow: auto;
}
